*{
    margin: 0;
    border: border-box;
}
.hidden{
    display: none;
}
a:hover{
    border: 2px solid #7b68ee;
    padding: 4px;
    border-radius: 15px;
}
body{
    padding: 0.5px;
    
}
section{
    padding-top: 20px;
}
button{
    background-color: #7b68ee;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
button:hover{
    border: 1px solid #7b68ee;
}
a{
    text-decoration: none !important;
}
.dark{
    background-color: #f7f8f8 !important;
}
input,textarea{
    padding-left: 20px;
}
/* header */
/* header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
} */
.header{
    padding: 5px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.8rem;
    z-index: 2;
    /* color: white ; */
    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
    background-color: white;
    color: #7b68ee;
    box-shadow: 0 4px 8px #2dbcdc;
    margin: 2px;
}
/* .header a{
    color: white;
} */
.links{
    padding-left: 5px;
    padding-right: 5px;
}
.links a{
    padding-left: 4px;
    padding-right: 4px;
    color: #7b68ee;
}
.header_small{
    margin-left: 4px;
    margin-right: 4px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 0 4px 8px #2dbcdc;
    width: 100vw;
    
}
.header_small nav{
    border-radius: 8px;
    height: 110px !important;
    margin: 4px;
    /* border-radius: 40px; */
}
.navbar-nav{
    display: flex;
    align-items: center;
    font-size: 1.8em;
    box-shadow: 0 4px 8px #2dbcdc;
    background-color: white;
    z-index: 2;
    border-radius: 60px;
}
.navbar-toggler-icon{
    color:#0d6efd !important;
}
/* hero */
.hero{
    /* background-image: ; */
    display: flex;
    /* flex-direction: column; */
    color: white;
    flex-direction: column;
    z-index: 20;
    background-image: linear-gradient(to bottom,  #00429b, #006dba, #0095ce, #2dbcdc);
}
.details{
    width: 60%;
    padding: 10px;
    margin: 10px;
}
.details h1{
    font-size: 5rem;
    margin-top: 1em;
    margin-bottom: 1em;
}
.hero_setion{
    display: flex;
    padding: 10px;
    /* margin: 10px; */
    margin: 2em;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

/* about */
.about h6,.blog h6,.team h6,.portfolio h6,.testimonial h6{
    color: #ff9800;
    text-align: center;
    margin: 0 0 5px;
}
.about h2,.blog h2,.team h2,.portfolio h2,.testimonial h2{
    color: #404040;
    text-align: center;
    margin: 10px 0 0;
    font-weight: bolder;
}
.card_container,.blog_container,.team_container,.portfolio_container,.testimonial_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 336px;
    margin: 30px;
    padding: 25px 20px !important;
    box-shadow: 0 4px 8px #2dbcdc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* feedback */
.feedback{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.feedback_details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_info{
    box-shadow: 0 4px 8px #2dbcdc;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    width: 40%;
}
.feedback_form input,textarea{
    box-shadow: 0 2px 4px #7b68ee;
    margin: 5px;
    /* width: 50%; */
}
textarea{
    margin: 5px !important;
}
.form_part{
    display: flex;
}
/* portfolio */
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.off{
    background-color: white;
    color: black;
}
.off:hover{
    color: white;
    background-color: #7b68ee;
}
.buttons button{
    margin: 10px 5px;
    padding: 14px 25px;
    box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    /* width: 60%; */
}
/* testimonial */
.star{
    color: #ffce39;
}
.testimonial_card{
    display: flex;
    justify-content: center;
    align-items: center;

}
.testimonial_card img{
    height: 90px;
}
/* footer */
footer{
    background-image: linear-gradient(to top, #00429b, #006dba, #0095ce, #2dbcdc);
    color: white;
    padding: 10px;
}
.newsletter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button,input,textarea{
    height: 50px;
    border-radius: 8px !important;
    border: none;
    font-weight: bold;
    /* padding-left: 10px; */
}
.copyrights,.info{
    display: flex;
    justify-content: space-around;
}
.techy{
    width: 30%;
}
.social_media a{
    margin-top: 5.5em;
    padding: 10px;
    /* border: 1px solid white; */
    box-shadow: 0 2px 4px white;
    border-radius: 50%;
}
.input{
    width: 35vw;
}
.info a{
    color: white;
    padding: 4px;
    margin: 12px;
    /* border: 0.2px solid white; */
}
.info a:hover,.copyrights a:hover{
    border: 0.5px solid white;
}
@media(min-width:981px){
    .header_small{
        display: none;
    }
}
@media(max-width:980px){
    body{
        width: 100vw;
    }
    .hero_setion{
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
        /* width: 60%; */
    }
    .hero_setion h1{
        font-size: 2.5em;
    }
    .header{
        display: none;
    }
    .social_media{
       display: flex;
       width: 90%;
       justify-content: center;
    }
    .details{
        padding: 0 !important;
        margin: 0 !important;
        width: 90%;
    }
    .details button{
        margin: 10px;
    }
    .hero_img{
        width: 100%;
       
    }
    /* feedback */
    .feedback{
        flex-direction: column;
        width: 100vw;
    }
    .feedback_details{
        /* display: flex; */
        flex-direction: column;
    }
    .contact_info{
        width: 100vw;
    }
    .form_part{
        flex-direction: column;
    }
    /* about */
    .card{
        width: 300px;
    }
    /* footer */
    .newsletter,.copyrights{
        flex-direction: column;
        text-align: center;
    }
    .input{
        width: 60vw;
    }
    .info{
        flex-wrap: wrap;
        padding: 10px;
        /* justify-content: center; */
    }
    .techy{
        width: 300px;
        padding: 15px;
    }
    .our_services,.useful_links{
        padding: 10px;
        margin: 10px;
    }
}
